.idea/
.venv/
.vscode/
.claude/
.VSCodeCounter/

__pycache__/
*.pyc

env.dev
env.prod
redis.conf
/temp/
/data/db/
/data/local/*
!/data/local/.gitkeep
/data/season/*
!/data/season/.gitkeep
/data/version/*
!/data/version/.gitkeep
/data/json/*
!/data/json/.gitkeep
/data/trash/*
!/data/trash/.gitkeep
/logs/error/*
/logs/exception/*
/logs/metrics/*
/logs/scripts/*