# 应用标识符
PLATFORM="KokomiAPI-01"

# 开发测试用配置
DEV_MODE=0             # 是否启用特殊开发模式，默认 0
LOG_LEVEL="info"       # 控制台输出日志等级，仅可选 info or debug

# API Token 配置（不支持多用户）
API_ROOT_TOKEN=""      # Root 权限用户
API_USER_TOKEN=""      # User 权限用户
API_MANAGER_TOKEN=""   # Manager 权限用户

# MySQL 配置
MYSQL_HOST="localhost"
MYSQL_PORT=3306
MYSQL_USER=""
MYSQL_PASSWORD=""
MYSQL_DATABASE="wows"

# Redis 配置
REDIS_HOST="localhost"
REDIS_PORT=6379
REDIS_PASSWORD=""
REDIS_DATABASE=0

# RabbitMQ 配置
RABBITMQ_HOST="localhost"
RABBITMQ_DEFAULT_USER=""
RABBITMQ_DEFAULT_PASS=""

# 其他配置（可选项）
# SQLITE_DIR=""          # 指定Recent数据库文件储存地址
# SSL_CA_BUNDLE=""       # 处理俄服特殊SSL证书配置
# MYSQL_ROOT_PASSWORD="" # 用于Docker初始化MySQL容器配置